@{
	ViewData["Title"] = "Начальная страница";
}

@model IEnumerable<UploadedDb>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css">
<script src="~/lib/select2/dist/js/select2.min.js"></script>
<script src="~/lib/select2/dist/js/i18n/ru.js"></script>

<body>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Регистрация</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" arialabel="close"></button>
				</div>
				<div class="modal-body">
					<form action="">
						<div class="row mb-3">
							<input class="form_input" type="text" name="login" placeholder="Фамилия" required>
							<input class="form_input" type="text" name="login" placeholder="Имя" required>
							<input class="form_input" type="text" name="login" placeholder="Отчество">
							<div class="select1">
								<select name="user">
									<option value="Администратор">Администратор</option>
									<option value="Куратор направления">Куратор направления</option>
									<option value="Преподаватель">Преподаватель</option>
									<option value="Студент">Студент</option>
								</select>
							</div>

							<input class="form_input" type="text" name="login" placeholder="Логин" required>
							<input class="form_input" type="password" name="password" placeholder="Пароль" required>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button style="margin: auto" class="btn btn-primary" type="submit" method="get">Зарегистрировать</button>
				</div>
			</div>
		</div>
	</div>

	<div class="download" style="gap: 10px">
		<h5 align="center">Загрузить файл</h5>
		<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
			<div class="mb-3" style="width: 40%; margin: auto; margin-top: 20px" align="center">
				<input type="text" style="margin-bottom: 20px" name="uploadingDbName" class="form-control" id="formControlTextInput" placeholder="Введите название базы данных...">
				<input type="file" name="uploadedFile" class="form-control" accept=".csv, .xlsx" id="formFile">
				<input style="margin-top: 20px; align-content: center" class="btn btn-primary" type="submit" value="Загрузить базу данных" />
			</div>
		</form>
	</div>

	<div align="center" style="margin-bottom:20px">
		<label for="selectObject">Выбранная БД:</label>
		<select class="js-select2 selectedObject" id="selectObject" name="selectedObjectId">
			@foreach (var item in Model)
			{
				<option value="@item.UploadedDbId">@item.UploadedDbName</option>
			}
		</select>
	</div>

	<div align="center">
		<button class="btn btn-primary" role="button" onclick="openStudyGroupDashboard()" aria-pressed="true" id="bt">Дашборд по группам</button>
		<button class="btn btn-primary" role="button" onclick="openStudyDirectionDashboard()" aria-pressed="true" id="bt">Дашборд по направлениям обучения</button>
		<button class="btn btn-primary" role="button" onclick="openStudentDashboard()" aria-pressed="true" id="bt">Дашборд по студенту</button>
	</div>

	<div class="downloaded" style="margin-top: 20px" align="center">
		<h5>Последние 10 загруженных баз данных</h5>
		<div>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Название</th>
						<th>Название дисциплины</th>
						<th>Дата загрузки</th>
					</tr>
				</thead>

				@foreach (var item in Model.Take(10))
				{
					<tr>
						<td>@(item.UploadedDbId).</td>
						<td>@(item.UploadedDbName)</td>
						<td>@(item.Discipline!.DisciplineName)</td>
						<td>@(item.UploadDate.ToShortDateString())</td>
					</tr>
				}

				<tfoot>
					<tr>
						<td colspan="3">Общее количество датасетов:</td>
						<td>@(Model.Count())</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<!--<h3 align="center">Статистика</h3>-->

	@* <div class="container-fluid">
	<div class="row">
	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
	<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
	Настроить фильтры</a>
	</div>
	<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="background-color: white;">
	<iframe src=""></iframe>
	</div>
	</div>
	</div> *@

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h4 class="offcanvas-title" id="offcanvasExampleLabel">Фильтры</h4>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
		</div>

		<div class="offcanvas-body">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать данные
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Датасет 1</a></li>
				</ul>
			</div>
			<div class="dropdown mt-2">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать группу
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">ПиОА Л-01</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-02</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-03</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-04</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-05</a></li>
				</ul>
			</div>
			<div class="dropdown mt-2">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать направление
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Значение 1</a></li>
					<li><a class="dropdown-item" href="#">Значение 2</a></li>
					<li><a class="dropdown-item" href="#">Значение 3</a></li>
				</ul>
			</div>
		</div>
	</div>

	<script>
		function openStudyDirectionDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			var externalUrl = "http://localhost:3000/d/ddjocsn8bey9s2/dashbord-po-narpavlenijam-podgotovki?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		function openStudyGroupDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			var externalUrl = "http://localhost:3000/d/ddlf0p8s9perka/dashbord-po-gruppam?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		function openStudentDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			var externalUrl = "http://localhost:3000/d/bdjmseqm0p5hcd/dashbord-po-studentu?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		$(document).ready(function () {
			$('.js-select2').select2({
				placeholder: "Выберите город",
				maximumSelectionLength: 2,
				language: "ru"
			});
		});
	</script>
</body>