@{
	ViewData["Title"] = "Начальная страница";
}

@model IEnumerable<UploadedDb>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css">
<script src="~/lib/select2/dist/js/select2.min.js"></script>
<script src="~/lib/select2/dist/js/i18n/ru.js"></script>

<body class="fullwidth">
	<div class="download" style="gap: 10px">
		<h5 align="center">Загрузить файл</h5>
		<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
			<div class="mb-3" style="width: 40%; margin: auto; margin-top: 20px" align="center">
				<input type="text" style="margin-bottom: 20px" name="uploadingDbName" class="form-control" id="formControlTextInput" placeholder="Введите название базы данных..." required>
				<div class="mb-3">
					<input type="file" name="uploadedFile" class="form-control" accept=".csv" id="formFile" required>
					<div class="invalid-feedback">Добавьте файл в формате .csv</div>
				</div>
				<input style="margin-top: 20px; align-content: center" class="btn btn-primary" type="submit" value="Загрузить базу данных" />
			</div>
		</form>
	</div>

	<div align="center" style="margin-bottom:20px">
		<label for="selectObject">Выбранная БД:</label>
		<select class="js-select2 selectedObject" id="selectObject" name="selectedObjectId">
			@foreach (var item in Model)
			{
				<option value="@item.UploadedDbId">@item.UploadedDbName</option>
			}
		</select>
	</div>

	<div align="center">
		<button class="btn btn-primary" role="button" onclick="openStudyGroupDashboard()" aria-pressed="true" id="bt">Дашборд по группам</button>
		<button class="btn btn-primary" role="button" onclick="openStudyDirectionDashboard()" aria-pressed="true" id="bt">Дашборд по направлениям обучения</button>
		<button class="btn btn-primary" role="button" onclick="openStudentDashboard()" aria-pressed="true" id="bt">Дашборд по студенту</button>
	</div>

	<div class="downloaded" style="margin-top: 20px" align="center">
		<h5>Последние 10 загруженных баз данных</h5>
		<div>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Название</th>
						<th>Название дисциплины</th>
						<th>Пользователь</th>
						<th>Дата загрузки</th>
					</tr>
				</thead>

				@foreach (var item in Model.TakeLast(10).Reverse())
				{
					<tr>
						<td>@(item.UploadedDbId).</td>
						<td>@(item.UploadedDbName)</td>
						<td>@(item.Discipline!.DisciplineName)</td>
						<td>@(item.User!.UserName)</td>
						<td>@(item.UploadDate.ToShortDateString())</td>
					</tr>
				}

				<tfoot>
					<tr>
						<td colspan="4">Общее количество загруженных баз данных:</td>
						<td>@(Model.Count())</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	<script>
		function openStudyDirectionDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			//port 3001 for docker, 3000 for local launch (default grafana port)
			var externalUrl = "http://localhost:3001/d/ddjocsn8bey9s2/dashbord-po-narpavlenijam-podgotovki?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		function openStudyGroupDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			var externalUrl = "http://localhost:3001/d/ddlf0p8s9perka/dashbord-po-gruppam?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		function openStudentDashboard() {
			var selectedId = document.getElementById("selectObject").value;
			var externalUrl = "http://localhost:3001/d/bdjmseqm0p5hcd/dashbord-po-studentu?orgId=1&var-uploaded_db_id=" + selectedId + "&kiosk";
			window.open(externalUrl, "_blank");
		}

		$(document).ready(function () {
			$('.js-select2').select2({
				placeholder: "выберите БД",
				maximumSelectionLength: 2,
				language: "ru"
			});
		});

		document.addEventListener()
	</script>
</body>